*{
    margin: 0px;
    padding: 0px;
}

body{
    margin-left: 600px;
}

header{
    width: 300px;
    height: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
    /* background-color: aquamarine; */
    text-align: center;
    padding-top: 5px;
}

main{
    width: 300px;
    margin-bottom: 20px;
}

#imagem{
    margin-left: 60px;
}

#botoes{
    width: 320px;
    /* background-color: aqua; */
}

#vermelho{
    width: 70px;
    height: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    border-radius: 10px;

    background-color: #ff473d;
    color: white;
}
#amarelo{
    width: 70px;
    height: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    border-radius: 10px;

    background-color: #fff645;
    color: black;
}
#verde{
    width: 70px;
    height: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    border-radius: 10px;

    background-color: #7dff69;
    color: black;
}
#automatico{
    width: 80px;
    height: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    border-radius: 10px;

    /* background-color: #7dff69; */
    color: black;
}

footer{
    width: 300px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;

    padding-left: 30px;
}